@model MenuViewModel
<h1>Ecco i dettagli del Menu @Model.IdMenu @Model.Nome :</h1>


<p>Di Seguito l'elenco degli PIATTI nel menu</p>

<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Tipologia</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Piatti)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Descrizione</td>
            <td>@item.Tipologia</td>
            <td>@item.Prezzo</td>
            <th>
                <a asp-controller="Piatti" asp-action="Details" asp-route-id="@item.IdPiatto" class="btn btn-primary">Visualizza Dettagli</a>
            </th>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Piatti.Count</th>
            <th></th>
        </tr>
    </tfoot>
</table>